@tailwind base;
@tailwind components;
@tailwind utilities;





span {
  color: rgb(235, 235, 235);
  line-height: 1.5rem;
}

/*Used with Next.js next/font css variable*/
.tech-font {
  font-family: var(--font-vt323);
}